*{
	padding: 0;
	margin: 0;
	box-sizing:border-box;
}

.menu{
	position: fixed;
	z-index: 10;
	height: 80px;
	width: 100%;
	background-color: #8A8686;
	opacity: 0.9;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
  
}
.menu a,p{
    margin: 20px 50px;
    font-size: 20pt;
	color: white;
	text-decoration: none;
}
/************media*****************/

@media screen and (max-width:400px) {
	header nav.menu p{
		display: none;
	}
	header nav.menu a{
		font-size: 14pt;
	}
	header nav.menu .menu_{
	    background-color: #8A8686;
	    opacity: 0.9;
	    text-align: right;
	    margin-top: 100px;

	}
}