*{
margin:0px;
padding:1px;
box-sizing: border-box;
}
body{
height: 100%;
margin: 0;
background-image:url(../img/fondo2.jpg);
font-family: 'Sancreek', cursive;
background-attachment: fixed;
background-size: cover;
}

/********menu por Tam*********/
header nav.menu {
	position: fixed;
	z-index: 1;
	height: 80px;
	width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
   
}
header nav.menu .menu_{
	text-align: center;
}
header nav.menu .menu_ a,p{
    margin: 15px 40px;
    font-size: 20pt;
    display: inline-block;
	color: white;
	text-decoration: none;	
}

header nav.menu #ham{
        position: fixed;
        margin: 5px 100px;
        
}
header nav.menu .mobile{
	display: none;
}
/************************************/
.contcajas{
	
margin: 100px 10px 10px 10px;
justify-content: center;
height: 600px;
/*background: #212d40;*/
display: flex;
flex-wrap: wrap;
align-items: space-between;
/*opacity: 0.9;*/
}
.caja {
	
	border-radius: 50%;
	/*opacity: 1.0;*/
align-items:stretch;
width: 250px;
height:250px;
background:#ADA8A8;
text-align: center;
margin: 10px;

font-size: 40px;
color: #fff;
}
.caja a img{
	border-radius: 50%;
width: 250px;
height:250px;

}
.caja a{
opacity: 0.6;
}
.caja a:hover{
opacity: 1.0;
zoom: 1;
font-weight: bold;
}

#formulario	{

	padding: 10px;
	height: 600px;
	width: 98%;
	
	background-color: #ADA8A8;
	margin: 0 auto;

}

#formulario1{
 	
	text-align: center;
	width: 60%;
	
	font-family: 'Ubuntu', sans-serif;
	
	display: inline-block;
	/*opacity: 0.7;*/
	color:#424242;
}
.boton{
	border-radius: 4px;
  
	background:#3b5998;
	color:#fff;
    float: right;
	margin: 8px;
	padding: 8px;
	cursor: pointer;
	border-radius: 6px;
	font-family: 'Ubuntu', sans-serif; 
	font-size: 14px;
}
.datos-personales{

font-family: 'Ubuntu', sans-serif;
font-size: 16px;
width: 100%;
height: 50px;

}


.cuadrotexto{
	width: 100%;
	height: 80px;
	font-size: 16px;
	font-family: 'Ubuntu', sans-serif;
}
#algo-que-seleccione{
	font-size: 15px
	
	background:#dddddd;
	color: black;
	width: 50%;
	font-family: 'Ubuntu', sans-serif;

}

#horarios{
	display: inline-block;
	width: 35%;
	justify-content: center;
}
#horarios p{
	font-family: 'Ubuntu', sans-serif;
	color: black;

	margin: 0 auto;
	padding: 20px;
 }
footer{
	justify-content: center;
	display: flex;
	flex-wrap: wrap;
	align-items: space-between;
	/*padding: 0px 0px 0px 600px;*/
	width: 100%;
	height: 300px;
	background-color: black;
	/*opacity: 0.7;*/
   	/*justify-content: space-between;*/
	
}

.cajamapa{
	opacity: 1 ;
	align-items:stretch;
	/*background-image: url(../img/mapa/mapa-de-polanco.jpg);*/
	margin: 15px;
	border-right:1px solid #ffffff;
	padding-left: 15px;
width: 300px;
height:250px;
}

.cajafooter {
	padding-top: 50px;
	text-align: center;
	opacity: 1 ;
	align-items:stretch;
	color:  #dddddd;
	margin: 15px;
	border-right:1px solid #ffffff;
width: 250px;
height:250px;
}
.cajaredes{
	padding-top: 50px;
	text-align: center;
	opacity: 1 ;
	align-items:stretch;
	
	margin: 15px;
	
	width: 250px;
	height:250px;
}
.cajaredes a{
	margin: 5px;
}
/************media-Tam*****************/

@media all and (max-width:800px) {
	header nav.menu p{
		display: none;
	}
	header nav.menu .menu_ a{
		display: none;
	}
    header nav.menu .mobile{
    	display: inline;
    }
	header nav.menu a{
		font-size: 14pt;
	}
	header nav.menu .mobile img.logo_{
		margin-bottom: 10px;
	}

#ham:active #menu_ a{
    	display: block;

    }
#ham:active #menu_{
	    display: block;
		background-color: rgba(0, 0, 0, 0.7);
		width: 200px;
		float: right;
		margin-top: 80px;

	}
}
.menu_ a:hover {
	color: red;
 	 }


